<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Vajehdan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Vajehdan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <Vajehdan.Properties.Settings>
            <setting name="StartupArgument" serializeAs="String">
                <value>--autoStart</value>
            </setting>
            <setting name="GithubId" serializeAs="String">
                <value>kokabi1365</value>
            </setting>
            <setting name="GithubRepo" serializeAs="String">
                <value>Vajehdan</value>
            </setting>
            <setting name="UpdateUrl" serializeAs="String">
                <value>https://github.com/kokabi1365/Vajehdan/releases</value>
            </setting>
            <setting name="Donate" serializeAs="String">
                <value>https://idpay.ir/kokabi</value>
            </setting>
        </Vajehdan.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Vajehdan.Properties.Settings>
            <setting name="StartByWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingLeftPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingTopPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AboutLeftPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AboutTopPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimizeWhenClickOutside" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PartSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenByCtrlSpace" serializeAs="String">
                <value>True</value>
            </setting>
        </Vajehdan.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.1460.0.43" newVersion="18.1460.0.43" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Wpf" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.1460.0.43" newVersion="18.1460.0.43" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
